.corCep{
  background-color: rgb(243, 232, 209);
}

.card-custumer {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  max-width: 500px;
  margin: 20px auto;
}
