html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-container {
  max-width: 600px;
  margin: 0 auto;
}

.button-submit {
  background-color: #666;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  height: 40px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Efeito ao passar o mouse sobre o botão */
.button-submit:hover {
  background-color: #769867;
}

.button-submit:active {
  background-color: #d84315;
  transform: translateY(1px);
}

.button-submit:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

h2 {
  font-size: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #2c3e50;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
  padding: 10px;
  border-bottom: 2px solid #666;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus, input[type="password"]:focus {
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
  outline: none;
}

/* Estilizando o placeholder para input de texto e senha */
input[type="text"]::placeholder,
input[type="password"]::placeholder {
  font-family: 'Courier New', monospace; /* Fonte do placeholder */
  color: #000; /* Cor do texto do placeholder */
  font-size: 14px; /* Tamanho da fonte do placeholder */
  font-style: italic; /* Estilo em itálico (opcional) */
  opacity: 0.8; /* Opacidade do texto do placeholder */
}

/* Estilizando o placeholder para input de texto e senha */
input[type="text"]::placeholder,
input[type="email"]::placeholder {
  font-family: 'Courier New', monospace; /* Fonte do placeholder */
  color: #000; /* Cor do texto do placeholder */
  font-size: 14px; /* Tamanho da fonte do placeholder */
  font-style: italic; /* Estilo em itálico (opcional) */
  opacity: 0.8; /* Opacidade do texto do placeholder */
}

.submit {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Courier New', monospace;
  color: #333;
}

.titleNome{
  margin-top: 10px;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

